@font-face {
    font-family: 'iconfont';
    /* project id 3165779 */
    /*src: url('');*/
    src: url('?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_3165779_iuvqgtm9rvc.woff2') format('woff2'), url('//at.alicdn.com/t/font_3165779_iuvqgtm9rvc.woff') format('woff'), url('//at.alicdn.com/t/font_3165779_iuvqgtm9rvc.ttf') format('truetype'), url('#iconfont') format('svg');
}


/*定义使用 iconfont 的样式*/

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    line-height: 15px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
